
.titre_ps4 {
	background-color: #DCDCDC;
	padding: 10px;
	margin-top: 40px;
	margin-left: 80px;
	width: 700px;
	box-shadow: 0px 2px 10px #424242;
	border-radius: 10px;
}

section {
	height: 1800px;
}

footer {
	margin-top: 60px;
	height: 100px;
	background-color: #424242;
}